URxvt*font: xft:kakwafont:size=8:antialias=true
URxvt*boldFont: xft:kakwafont:size=8:antialias=true
URxvt*letterSpace: 0
URxvt*scrollBar: false
URxvt*cursorBlink: false
URxvt*cursorUnderline: false
URxvt*internalBorder: 8
URxvt*geometry: 67x21
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

#define S_bg #1A1E21

#define S_one   #1F3137
#define S_two   #42544D
#define S_three #6A6551
#define S_four  #A69C75
#define S_five  #CEBC8D
#define S_six   #436A72
#define S_seven #54838E
#define S_eight #EFEFEF

*background:  #1A1E21
*foreground:  #FFFFFF
*cursorcolor: #FFFFFF

*color0:  S_bg
*color1:  S_two
*color2:  S_three
*color3:  S_four
*color4:  S_five
*color5:  S_six
*color6:  S_seven
*color7:  S_eight
*color8:  S_one
*color9:  S_two
*color10: S_three
*color11: S_four
*color12: S_five
*color13: S_six
*color14: S_seven
*color15: S_eight
